#login-form-div{
    width: 50%;
    min-width: 240px;
    height: 50%;
    min-height: 240px;
    position: absolute;
    margin: auto;
    left: 0px; top: 0px; right: 0px; bottom: 0px;
}

#login-form-div form{
    margin: 15px;
    position: relative;
}

#login-form-div form .bnt{
    position: relative;
    float: right;
}